body
{
	background-color: rgb(104, 163, 117);
	height:500px; 
	width:700px;
}
div.Crop_img_div
		{
			position: static;
			width: 1000px;
			height: 550px;
			border: 1px solid #73AD21;
		}
div.Welcome_division
		{
			height:100px; 
			width :1500px;
			border-radius: 25px;
			border: 1px solid LightGray;
			background-color:rgb(0, 191, 140);
		}
div.Input-fields
{
	height:300px;
	width:450px;
	left:1020px;
	bottom:550px;
	background-color: White;
	padding:30px 15px;
	position: relative;
  	border: 2px solid White;
  	border-radius: 25px;
  	font-family:Verdana;
  	font-size: 15px;
}
.Page-Title
{
	font-weight:normal;   
	font-family: Arial, Helvetica, sans-serif;
	font-style: oblique;
	color:rgb(216, 227, 218);
}
.Page-Info
{
	font-family: Verdana,sans-serif;
	font-style: oblique;
	color:White;
}
.img-source 
{
  position: absolute;
  bottom: 70px;
  left: 16px;
  color:White;
}
.Predict-button
{
	padding:10px;
	position:relative;
	left:350px;
	background-color:green;
	border-color:White;
	font-size: 20px;
	color:White;
	box-shadow: 3px 3px #888888;
	border-radius:30px;
}
.predicted-results
{
	height:100px;
	width:450px;
	left:1020px;
	bottom:530px;
	background-color: White;
	padding:30px 15px;
	position: relative;
  	border: 2px solid White;
  	border-radius: 25px;
  	font-family:Verdana;
  	font-size: 15px;	
}
.p-text
{
	font-size:40px;
}
div.credits
{
	background-color: White;
	border: 2px solid White;
	border-radius: 25px;
	height:20px;
	width:1500px;
	position:relative;
	bottom:500px;
	left:5px;
}
.creator
{
	
}